<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-cad_equipo_18/blob/main/Semana_3_Actividad_1_Equipo_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Semana 3 - Actividad 1

Equipo 18

Moisés Rangel Silva A00143704

José Esperón A


Octubre 4 de 2022

# **Parte 1**

# Fundamentos de bases de datos

1. Fundamentos de bases de datos y para ciencia de datos.  


2. Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

# **Parte 2**

# Selección y limpieza de los Datos en Python

In [ ]:
#Creación del data frame
#Subir el archivo DataDefaultOfCreditCardClients.txt al directorio raíz de Google Colab

import pandas as pd
import numpy as np

PathData = "/content/DataDefaultOfCreditCardClients.txt"
TCC = pd.read_csv(PathData, index_col=0)  #, header = 0, 
TCC

FileNotFoundError: ignored

Verificar si en la base de datos existen valores nulos o hay falta de valores

In [ ]:
TCC.isnull().values.any()  #Si existen valores nulos

In [ ]:
TCC.isnull().any()

La función de análisis isnull() indica si las columnas  muestran ausencia de valores (datos) y/o NaN (Not a Number), por ello para asegurar tener integridad de dartos hay que verificar la existencia correcta de datos.

In [ ]:
#Mostrar los datos faltantes:

TCC[TCC.isnull()]

# **Solución no. 1**

Se van a descartar las celdas con valores faltantes

In [ ]:
nTCC = TCC.copy()         #Se crea copia de la base de datos original

nTCC.dropna(inplace = True)      #Se eliminan los renglones con valores NaN de la base de datos
nTCC.isna().values.any()         #Al ejecutar nuebvamente la función .isna(), muestra que ya no existen valores NaN

In [ ]:
nTCC

De acuerdo a las dos tablas se observamn que se eliminan 42 registros (renglones) con el método anterior. La base de satos inicial tenía  30K renglones y luwego de la limpeiza se observan de 29.958 renglones, y se mantienen las mismas columnas con valores correctos o que serán útiles.

Con esta método (función) si falta algún dato en alguna celda, entonces la fila correspondiente se elimina, sin alterar las columnas.

**Filtrar**

Se van a filtrar todas las colunmnas que solo tengan información

In [ ]:
nTCC = TCC.copy()

nTCC.dropna(axis = 1, inplace = True) # axis 1 is columns / axis 0 is rows. 
nTCC

Con esta función se pueden borrar las columnas que no tuvieran datos útiles. Se observa que solo se mantiene la columna 'X1', que es la que no tiene valores nulos, con este filtrado en este ejemplo/caso se pieredn casi todas las columnas, por lo que no es una buena función.

**Mantener renglones**


Ahora se hace la prueba de mantener los renglones que solamente contengan 20 o más datos validos (No NaN)

In [ ]:
nTCC = TCC.copy()

nTCC.dropna(thresh=20, inplace = True)
nTCC

Se observa que se eliminaron 12 renglones que no tuvieron mínimo 20 valores validos en las columnas.

Ahora se hace la revisión de un filtrado en  columnas:

Se trata de mantener renglones que solamente contengan 29 990 o más datos validos (No NaN)

In [ ]:
nTCC = TCC.copy()
nTCC.dropna(thresh = 29990, axis = 1, inplace = True) 
nTCC

Se observa que se eliminaron nueve columnas que no cumplieron con la regla de tener  29 990 valores validos o más, quedando solo con 15 columnas.

# **Solución 2**

Imputación de media

In [ ]:
nTCC = TCCl.copy()

#Ciclo para obtener la media en cada columna y sustituir los valores NaN por la media.
for label in  nTCC.columns:          #En este ciclo se realiza sobre todas las columnas de la base de datos, desde X1 a Y   
  nTCC[label].fillna(nTCC[label].mean(), inplace = True)    #En cada iteración se obtiene la media de la columna iterada por medio del 
                                                                          #método .mean() y este es imputado(asignado) a los valores NaN por medio de la
                                                                          #función .fillna()




print(nTCC.isnull().any())         #Confirmación de que no hay NaNs
print(nTCC.mean())                 #Mostrar las medias de cada columna
nTCC

Imputación de mediana

In [ ]:
nTCC = TCC.copy()

#Ciclo para obtener la mediana en cada columna y sustituir los valores NaN por la mediana.
for label in  nTCC.columns:          #En este ciclo se realiza sobre todas las columnas de la base de datos, desde X1 a Y   
  nTCC[label].fillna(nTCC[label].median(), inplace = True)    #En cada iteración se obtiene la mediana de la columna iterada por medio del 
                                                                          #método .mean() y este es imputado(asignado) a los valores NaN por medio de la
                                                                          #función .fillna()




print(nTCC.isnull().any())         #Confirmación de que no hay NaNs
print(nTCC.median())                 #Mostrar las medias de cada columna
nTCC

Luego de hacer la inputación de la mediana se reemplazn los NaNs, y ya se tienen datos en todas las celdas, sin emabrgo se observa que en las columnas X6 a X11 hay valores iguales a 0, que en este caso no significan nada en la base de datos o puede que no esten  la escala de datos mencionada en la descripción original. Por eso se recomienda sustituir el Cero (0) por -1 para indicar que estos clientes no tienen adeudos y se puden observa facilmente.

In [ ]:
nTCC.X6= nTCC.X6.replace([0,-1])
nTCC.X7= nTCC.X7.replace([0,-1])
nTCC.X8= nTCC.X8.replace([0,-1])
nTCC.X9= nTCC.X9.replace([0,-1])
nTCC.X10= nTCC.X10.replace([0,-1])
nTCC.X11= nTCC.X11.replace([0,-1])
nTCC

Dar formato a la base de datos:

In [ ]:
nTCC = TCC.copy()

nTCC.rename(columns = {'X1' :'Credit_Amount', 
                              'X2' : 'Gender', 
                              'X3': 'Education', 
                              'X4':'Marital_Status',
                              'X5': 'Age',
                              'Y':'Credible?'
                              })

En la siguiente sección se generará una nueva base de datos, sin celdas tipo NaNs. Se renombrarán los encabezados de las columnas para observar mejor los datos.

Inputar la Moda

In [ ]:
#Creación de la base de datos:
nTCC = TCC.copy()

#Ciclo para remplazar los NaNs, para ciertas columnas se imputa la Moda, para mantener valores dentro de la escala,
#en los demas se imputa la media, conforme la tabla anterior.

for label in  nTCC.columns:    
  if label == 'X2' or label == 'X3' or label == 'X4' or label == 'X6' or label == 'X7' or label == 'X8' or label == 'X9' or label == 'X10' or label == 'X12' or label == 'Y':
      #Imputación de moda: 
      nTCC[label].fillna(nTCC[label].mode()[0], inplace = True)   
  else:
      #Imputación de media:
      nTCC[label].fillna(nTCC[label].mean(), inplace = True)

Renombrar los encabezados de las columnas

In [ ]:
#Renombrar los encabezados de las columnas:
nTCC.rename(columns = {'X1' :'Credit_Amount',      
                              'X2' : 'Gender', 
                              'X3': 'Education', 
                              'X4':'Marital_Status',
                              'X5': 'Age',
                              'X6': 'Sep',
                              'X7': 'Ago',
                              'X8': 'Jul',
                              'X9': 'Jun',
                              'X10': 'May',
                              'X11': 'Apr',
                              'X12': 'Bs-Sep',
                              'X13': 'Bs-Ago',
                              'X14': 'Bs-Jul',
                              'X15': 'Bs-Jun',
                              'X16': 'Bs-May',
                              'X17': 'Bs-Apr',
                              'X18': 'Pp-Sep',
                              'X19': 'Pp-Ago',
                              'X20': 'Pp-Jul',
                              'X21': 'Pp-Jun',
                              'X22': 'Pp-May',
                              'X23': 'Pp-Apr',
                              'Y':'Credible?'
                              }, inplace = True) 

nTCC.to_csv('data.csv')            #Se guarda esta nueva abse datos como data.csv en la raiz de Colab

In [ ]:
print(nTCC.isnull().any())         #Confirmación que la nueva base de datos no tiene NaNs
nTCC

Cierre del programa