<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-cad_equipo_18/blob/main/Semana_3_Actividad_1_Equipo_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Logo Tec 21.jpg]()

# **TC4029 Ciencia y analítica de datos**

Semana 3 - Actividad 1

José Eduardo Esperón Carreón A01372413

Moisés Rangel Silva A00143704


Octubre 4 de 2022

# **Parte 1**

# Fundamentos de bases de datos

1. Fundamentos de bases de datos y para ciencia de datos.  


2. Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

# **Parte 2**

# Selección y limpieza de los Datos en Python

In [ ]:
#Creación del data frame
#Subir el archivo DataDefaultOfCreditCardClients.txt al directorio raíz de Google Colab

import pandas as pd
import numpy as np

PathData = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
TCC = pd.read_csv(PathData, index_col=0)  #, header = 0, 
TCC

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Verificar si en la base de datos existen valores nulos o hay falta de valores

In [ ]:
TCC.isnull().values.any()  #Si existen valores nulos

True

In [ ]:
TCC.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

La función de análisis isnull() indica si las columnas  muestran ausencia de valores (datos) y/o NaN (Not a Number), por ello para asegurar tener integridad de dartos hay que verificar la existencia correcta de datos.

In [ ]:
#Mostrar los datos faltantes:

TCC[TCC.isnull()]

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **Solución no. 1**

Se van a descartar las celdas con valores faltantes

In [ ]:
nTCC = TCC.copy()         #Se crea copia de la base de datos original

nTCC.dropna(inplace = True)      #Se eliminan los renglones con valores NaN de la base de datos
nTCC.isna().values.any()         #Al ejecutar nuevamente la función .isna(), muestra que ya no existen valores NaN

False

In [ ]:
nTCC

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

De acuerdo a las dos tablas se observamn que se eliminan 42 registros (renglones) con el método anterior. La base de satos inicial tenía  30K renglones y luwego de la limpeiza se observan de 29.958 renglones, y se mantienen las mismas columnas con valores correctos o que serán útiles.

Con esta método (función) si falta algún dato en alguna celda, entonces la fila correspondiente se elimina, sin alterar las columnas.

**Filtrar**

Se van a filtrar todas las colunmnas que solo tengan información

In [ ]:
nTCC = TCC.copy()

nTCC.dropna(axis = 1, inplace = True) # axis 1 is columns / axis 0 is rows. 
nTCC

           X1
ID
1       20000
2      120000
3       90000
4       50000
5       50000
...       ...
29996  220000
29997  150000
29998   30000
29999   80000
30000   50000

[30000 rows x 1 columns]

Con esta función se pueden borrar las columnas que no tuvieran datos útiles. Se observa que solo se mantiene la columna 'X1', que es la que no tiene valores nulos, con este filtrado en este ejemplo/caso se pieredn casi todas las columnas, por lo que no es una buena función.

**Mantener renglones**


Ahora se hace la prueba de mantener los renglones que solamente contengan 20 o más datos validos (No NaN)

In [ ]:
nTCC = TCC.copy()

nTCC.dropna(thresh=20, inplace = True)
nTCC

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Se observa que se eliminaron 12 renglones que no tuvieron mínimo 20 valores validos en las columnas.

Ahora se hace la revisión de un filtrado en  columnas:

Se trata de mantener renglones que solamente contengan 29 990 o más datos validos (No NaN)

In [ ]:
nTCC = TCC.copy()
nTCC.dropna(thresh = 29990, axis = 1, inplace = True) 
nTCC

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X17,X18,X19,X20,X23,Y
ID,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,0.0,0.0,689.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,3261.0,0.0,1000.0,1000.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,15549.0,1518.0,1500.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,29547.0,2000.0,2019.0,1200.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,19131.0,2000.0,36681.0,10000.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,15980.0,8500.0,20000.0,5003.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,1837.0,3526.0,8998.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,19357.0,0.0,0.0,22000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,48944.0,85900.0,3409.0,1178.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,15313.0,2078.0,1800.0,1430.0,1000.0,1.0

Se observa que se eliminaron nueve columnas que no cumplieron con la regla de tener  29 990 valores validos o más, quedando solo con 15 columnas.

## **Solución 2**

Imputación de media

In [ ]:
nTCC = TCC.copy()

#Ciclo para obtener la media en cada columna y sustituir los valores NaN por la media.
for label in  nTCC.columns:          #En este ciclo se realiza sobre todas las columnas de la base de datos, desde X1 a Y   
  nTCC[label].fillna(nTCC[label].mean(), inplace = True)    #En cada iteración se obtiene la media de la columna iterada por medio del 
                                                                          #método .mean() y este es imputado(asignado) a los valores NaN por medio de la
                                                                          #función .fillna()




print(nTCC.isnull().any())         #Confirmación de que no hay NaNs
print(nTCC.mean())                 #Mostrar las medias de cada columna
nTCC

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool
X1     167484.322667
X2          1.603753
X3          1.853057
X4          1.551903
X5         35.484214
X6         -0.016635
X7         -0.133689
X8         -0.166405
X9         -0.220800
X10        -0.266342
X11        -0.291136
X12     51236.862750
X13     49190.734669
X14     47025.350152
X15     43275.652326
X16     40324.493980
X17     38881.135745
X18      5662.945886
X19      5922.488913
X20      5225.623400
X21      4827.252526
X22      4800.297209
X23      5216.259977
Y           0.221189
dtype: float64

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Imputación de mediana

In [ ]:
nTCC = TCC.copy()

#Ciclo para obtener la mediana en cada columna y sustituir los valores NaN por la mediana.
for label in  nTCC.columns:          #En este ciclo se realiza sobre todas las columnas de la base de datos, desde X1 a Y   
  nTCC[label].fillna(nTCC[label].median(), inplace = True)    #En cada iteración se obtiene la mediana de la columna iterada por medio del 
                                                                          #método .mean() y este es imputado(asignado) a los valores NaN por medio de la
                                                                          #función .fillna()




print(nTCC.isnull().any())         #Confirmación de que no hay NaNs
print(nTCC.median())                 #Mostrar las medias de cada columna
nTCC

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool
X1     140000.0
X2          2.0
X3          2.0
X4          2.0
X5         34.0
X6          0.0
X7          0.0
X8          0.0
X9          0.0
X10         0.0
X11         0.0
X12     22387.0
X13     21207.0
X14     20089.0
X15     19052.0
X16     18107.0
X17     17081.0
X18      2100.0
X19      2009.0
X20      1800.0
X21      1500.0
X22      1500.0
X23      1500.0
Y           0.0
dtype: float64

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Luego de hacer la inputación de la mediana se reemplazan los NaNs, y ya se tienen datos en todas las celdas, sin embargo se observa que en las columnas X6 a X11 hay valores iguales a 0, que en este caso no significan nada en la base de datos o puede que no esten la escala de datos mencionada en la descripción original. Por eso se recomienda sustituir el Cero (0) por -1 para indicar que estos clientes no tienen adeudos y se puden observa facilmente. Por otro lado, en la imputación a la mediana en los valores de X12 a la X23, será determinante considerar que si se ajusta a la media se afectarán los valores de salida, por lo que se recomienda usar la imputación a la mediana, ya que si la media es más del doble de ese valor, invariablemente existen outliers en la base de datos.

In [ ]:
nTCC.X6= nTCC.X6.replace([0,-1])
nTCC.X7= nTCC.X7.replace([0,-1])
nTCC.X8= nTCC.X8.replace([0,-1])
nTCC.X9= nTCC.X9.replace([0,-1])
nTCC.X10= nTCC.X10.replace([0,-1])
nTCC.X11= nTCC.X11.replace([0,-1])
nTCC

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,2.0,2.0,-1.0,-1.0,-2.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,2.0,2.0,-1.0,-1.0,-2.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,2.0,2.0,-1.0,-1.0,-2.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,2.0,2.0,-1.0,-1.0,-2.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,2.0,2.0,2.0,2.0,2.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,2.0,2.0,2.0,2.0,2.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,2.0,2.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,3.0,2.0,2.0,2.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,1.0,3.0,2.0,2.0,2.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Inputar la Moda

In [ ]:
#Creación de la base de datos:
nTCC = TCC.copy()

#Ciclo para remplazar los NaNs, para ciertas columnas se imputa la Moda, para mantener valores dentro de la escala,
for label in  nTCC.columns:          #En este ciclo se realiza sobre todas las columnas de la base de datos, desde X1 a Y   
  nTCC[label].fillna(nTCC[label].mode()[0], inplace = True)

print(nTCC.isnull().any())         #Confirmación de que no hay NaNs
print(nTCC.mode())                 #Mostrar las modas de cada columna
nTCC

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool
      X1   X2   X3   X4    X5   X6   X7   X8   X9  X10  ...  X15  X16  X17  \
0  50000  2.0  2.0  2.0  29.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

   X18  X19  X20  X21  X22  X23    Y
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1 rows x 24 columns]

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

De acuerdo con la información imputada a la moda, hemos observado que los datos de la X1 a la X5 tienen sentido en el orden categórico de esos elementos a ser reemplazados, incluso el de la deuda. Por otro lado, en los pagos registrados (X6 a X23), tiene mayor impacto por el tipo de población del que se obtuvo la base de datos, pues existe una mayor problabilidad de encontrar en que al menos en un mes no se hizo un pago por parte de algún cliente, y esto permitirá obtener estadísticas de incobrables.

Dar formato a la base de datos:

En la siguiente sección se generará una nueva base de datos, sin celdas tipo NaNs. Se renombrarán los encabezados de las columnas para observar mejor los datos.

In [ ]:
nTCC = TCC.copy()

nTCC.rename(columns = {'X1' :'Credit_Amount', 
                              'X2' : 'Gender', 
                              'X3': 'Education', 
                              'X4':'Marital_Status',
                              'X5': 'Age',
                              'Y':'Credible?'
                              })

,Credit_Amount,Gender,Education,Marital_Status,Age,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Credible?
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Renombrar los encabezados de las columnas

In [ ]:
#Renombrar los encabezados de las columnas:
nTCC.rename(columns = {'X1' :'Credit_Amount',      
                              'X2' : 'Gender', 
                              'X3': 'Education', 
                              'X4':'Marital_Status',
                              'X5': 'Age',
                              'X6': 'Sep',
                              'X7': 'Ago',
                              'X8': 'Jul',
                              'X9': 'Jun',
                              'X10': 'May',
                              'X11': 'Apr',
                              'X12': 'Bs-Sep',
                              'X13': 'Bs-Ago',
                              'X14': 'Bs-Jul',
                              'X15': 'Bs-Jun',
                              'X16': 'Bs-May',
                              'X17': 'Bs-Apr',
                              'X18': 'Pp-Sep',
                              'X19': 'Pp-Ago',
                              'X20': 'Pp-Jul',
                              'X21': 'Pp-Jun',
                              'X22': 'Pp-May',
                              'X23': 'Pp-Apr',
                              'Y':'Credible?'
                              }, inplace = True) 

nTCC.to_csv('data.csv')            #Se guarda esta nueva base datos como data.csv en la raiz de Colab

In [ ]:
print(nTCC.isnull().any())         #Confirmación que la nueva base de datos no tiene NaNs
nTCC

Credit_Amount     False
Gender            False
Education         False
Marital_Status    False
Age               False
Sep               False
Ago               False
Jul               False
Jun               False
May               False
Apr               False
Bs-Sep            False
Bs-Ago            False
Bs-Jul            False
Bs-Jun            False
Bs-May            False
Bs-Apr            False
Pp-Sep            False
Pp-Ago            False
Pp-Jul            False
Pp-Jun            False
Pp-May            False
Pp-Apr            False
Credible?         False
dtype: bool

,Credit_Amount,Gender,Education,Marital_Status,Age,Sep,Ago,Jul,Jun,May,...,Bs-Jun,Bs-May,Bs-Apr,Pp-Sep,Pp-Ago,Pp-Jul,Pp-Jun,Pp-May,Pp-Apr,Credible?
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Cierre del programa

# Parte 3

Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas: 

* ¿Qué datos considero mas importantes? ¿Por qué?

Consideramos que los datos categóricos como el género, nivel educativo, estatus marital y edad, son relevantes para poder encontrar patrones en el tipo de población, ante la ausencia de esos datos, es muy difícil establecer una imputación que sea mejor a otra con relación a otros datos, pues en su caso, el único que observamos que hace sentido es el de la moda.

* ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

En la primera solución así lo hicimos, al ver el impacto en el tamaño de la base de datos, consideramos que no fue un impacto muy grande, y que se podía seguir trabajando con la información que se tenía. Por otro lado, en la segunda solución, observamos que hizo más sentido hacer una imputación a la moda, ya que la media y la mediana pueden afectar el carácter de las características de la población.

* ¿Es necesario limpiar los datos para el análisis? Sí / No / ¿Por qué?

En consideración al impacto dentro de la base de datos, consideramos que bien puede trabajarse sin esos datos, eliminarlos y no hacer la limpieza, pues hay muchos datos ausentes (al menos 20), en general hay que validar qué datos hacen falta y de los que tenemos información hacer un análisis de los que nos cuentan.

* ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

Sí, sobre todo por el tipo de dato y la congruencia de los mismos que pueden arrojar errores durante y después de la generación del modelo.

* ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

Lo primero que se realizó, fue una exploración de los datos para conocer si tenían datos nulos o si existían campos vacíos. El resultado de esta exploración fue que hacía falta al menos un dato en cada columna, es decir que si en el resultado de la evaluación de hacer o no la limpieza de los datos, debíamos considerar imputaciones y limpieza para todas las columnas, por ender entender muy bien cada una de ellas y el impacto que tendría en el resultado del análisis de esta base de datos. 

Algunos de los ajustes que se hicieron están relacionados con la eliminación de columnas, de acuerdo a una cantidad dada de los registros (29 990) que se tienen. Así como a la eliminación de filas, a partir de una cantidad dada de campos que no están (20). Con esta aplicación, la solución 1, encontramos que no había un gran impacto al momento de eliminar filas, con relación a las columnas, había una consistencia fuerte de que contaban con una gran cantidad de información cada una de ellas, por lo que también cubrir los datos faltantes con alguna imputación, era viable.

Se cambiaron los datos con imputaciones a la media, mediana y moda, siendo esta última la que encontramos con mejor adecuación al tipo de datos que se nos presentaron, ya que arriesgarnos a modificar valores que afectan valores estadísticos como la desviación estándar o la varianza entre los datos usando la media y la mediana, podrían afectar el desarrollo de cualquier modelo. Lo que nos provocó cierta confianza en imputar valores por los más frecuentes, fue sobre todo el tipo de datos y el tipo de base de datos de la que estamos hablando, ya que en general, en una población asociada a la de un banco, cumple con algunas características más predominantes que otras y la cantidad de datos a imputar no eran tantos.